<footer>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-2">
                <img src="assets/images/superior-56-logo2.png" class="img-fluid" alt="Superior 56" />
            </div>
            <div class="col-6">
                <p>*Los proyectos, diseños, superficies, decorados, plantas tipo imágenes y todo lo que se muestra es ilustrativo y podría sufrir modificaciones sin previo aviso. No constituye un compromiso. obligación u oferta comercial alguna*.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row leyenda-foot">
            <div class="col-12">
                <p>Todos los derechos reservados 2022  |  <a href="/aviso-de-privacidad">Aviso de privacidad</a></p>
            </div>
        </div>
    </div>    
</footer>