@import "../../../assets/sass/mixins";

.ml-auto {
  margin-left: auto;
}

.navbar {
  background-color: transparent;
  
  @include for_breakpoint(991) {
    height: 90px;
  }

  .navbar-brand {
    img {
      max-width: 200px;
    }

    @include for_breakpoint(991) {
      text-align: center;

      img {
        width: 60%;
      }
    }
  }

  .navbar-toggler {
    padding: 0px;
    width: 50px;
    height: 40px;
    position: relative;
    margin-right: 20px;
    color: transparent;
    background-color: var(--blue-strong);

    .menu-icon {
      width: 40px;
      height: 4px;
      background-color: white;
      border-radius: 5px;
      transition: all .2s linear;
      display: block;
      margin: 0 auto;

      &::before {
        content: "";
        display: block;
        width: 40px;
        height: 4px;
        background-color: white;
        top: 4px;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        border-radius: 5px;
        transition: all .2s linear;
      }

      &::after {
        content: "";
        display: block;
        width: 40px;
        height: 4px;
        background-color: white;
        bottom: 4px;
        position: absolute;
        border-radius: 5px;
        left: 0;
        right: 0;
        margin: auto;
        transition: all .2s linear;
      }
    }
    
    &.active{
        .menu-icon{
            background-color: transparent;

            &::before{
                top: 16px;
                @include transform(rotate(45deg))
            }

            &::after{
                top: 3px;
                @include transform(rotate(-45deg))
            }
        }
    }
  }


  .collapse {
    .navbar-nav{
      display: flex;
      align-items: center;
      .nav-item {
        &:not(:last-of-type){
          margin: 0px 18px;
        }
  
        .nav-link {
          color: white;
          font-size: 18px;
          font-family: barlow-medium;
          text-transform: uppercase;
          line-height: 1.333;
          padding: 0px;
        }

  
        &.whats{
          width: 80px;
          margin-left: 80px;
          @include transition(height .3s linear);
          img{
            max-width: 70px;
          }
          &:hover{
            &::after{
              background-color: transparent;
            }
          }
        }
  
        &.active {
          &::after {
            background-color: var(--blue);
          }
        }
  
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 3px;
        }
  
        &:hover {
          &::after {
            background-color: var(--blue);
          }
        }
      }

      @include for_breakpoint(1499){
       
        .nav-item{
          &:not(:last-of-type){
            margin: 0px 15px;
          }
          &.whats{
            width: 70px;
            margin-left: 30px;
            img{
              max-width: 60px;
            }
          }
        }
      }
    }
  }

  &.small {
    height: 100px;
    background-color: var(--blue-strong);
    @include boxshadow(0px 11px 15px -6px rgba(0, 0, 0, 0.6));

    .navbar-brand{
      img{
        max-width: 160px;
      }
    }

    .collapse {
      .nav-item {
        .nav-link {
          font-size: 18px;
        }

        &:hover{
          .nav-link{
            color: var(--gold-color);
          }
        }

        &.whats{
          img{
            max-width: 55px !important;
          }
        }
      }
    }
  }

  //estilos para mobil

  @include for_breakpoint(1199){
    align-items: start;
    height: 130px;
    @include transition(height .3s linear);
    .navbar-brand{
      z-index: 10;
    }
    .navbar-toggler{
      display: block;
      z-index: 10;
    }

    .collapse{
      position: absolute;
      top: 0;
      left:0;
      width: 100%;
      height: 100%;
      display: none !important;
      .navbar-nav{
        flex-direction: column;
      }
    }

    &.menu-mobile{
      height: 100%;
      .collapse{
        display: flex !important;
        background-color: var(--blue-strong);
        .navbar-nav{
          margin-right: auto;

          .nav-item{
            margin: 10px 15px;
            text-align: center;
          }
        }
      }
    }
  }

  @include for_breakpoint(991){
    .navbar-brand{
      img{
        width: 80%;
      }
    }
  }

  @include for_breakpoint(480){
    // &.small{
    //   height: 90px;
    // }
    .navbar-brand{
      img{
        width: 70%;
      }
    }
  }

}
