<section id="ubicacion" class="ubicacion">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h2>Ubicación</h2>
                <p>Lago superior 56, Colonia Tacuba, Alcaldía Miguel Hidalgo, CDMX</p>
            </div>
            <div class="col-12 p-0">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15047.851814320886!2d-99.191212!3d19.457164!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d202759f9f769b%3A0x8f9a5c94b273b045!2sCalle%20Lago%20Superior%2056%2C%20Tacuba%2C%20Miguel%20Hidalgo%2C%2011410%20Ciudad%20de%20M%C3%A9xico%2C%20CDMX!5e0!3m2!1ses-419!2smx!4v1660660700971!5m2!1ses-419!2smx"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-6 p-0 mt-5 mb-5">
                <div class="back-image">
                    <img src="assets/images/superior-56-mapa-referencias.jpg" class="img-fluid" />
                </div>
            </div>
            <div class="col-2 d-flex flex-column align-items-center">
                <h4>Centros comerciales</h4>
                <ol class="green">
                    <li>Plaza Azcapotzalco</li>
                    <li>Plaza Toreo</li>
                    <li>Plaza Sotelo</li>
                    <li>Marina Park</li>
                    <li>Plaza Clavería</li>
                    <li>Pabellon Azcapotzalco</li>
                    <li>Destino Azcapotzalco</li>
                    <li>Plaza Antara / Carso</li>
                </ol>
            </div>
            <div class="col-2 d-flex flex-column align-items-center">
                <h4>UNIVERSIDADES</h4>
                <ol class="blue">
                    <li>UNITEC Cuitláhuac</li>
                    <li>Instituto Politecnico Nacional Escuela</li>
                    <li>Secundaria Diurna No. 20</li>
                    <li>Escuela Secundaria Diurna No. 109</li>
                    <li>Instituto Morelos</li>
                    <li>Instituto DCK Formación Profesional y de Negocios</li>
                </ol>
            </div>
            <div class="col-2 d-flex flex-column align-items-center">
                <h4>HOSPITALES</h4>
                <ol class="red">
                    <li>ISSSTE Hospital General Tacuba</li>
                    <li>Clínica Integral de Salud Reproductiva</li>
                    <li>Hospital Pediátrico Legaria</li>
                    <li>Hospital General Dr. Rubén Leñero</li>
                    <li>IMSS Unidad de Medicina Familiar</li>
                    <li>Hospital Central Norte Pemex</li>
                    <li>Hospital de la Divina Providencia</li>
                    <li>Hospital Español</li>
                </ol>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-3">
                <div class="image">
                    <img src="assets/images/ubicacion/superior-56-lugares-parque-bicentenario.jpg" class="img-fluid" alt="Parque Bicentenario" />
                    <div class="nombre">
                        Parque Bicentenario
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="image">
                    <img src="assets/images/ubicacion/superior-56-lugares-museo-soumaya.jpg" class="img-fluid" alt="Museo Soumaya" />
                    <div class="nombre">
                        Museo Soumaya
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="image">
                    <img src="assets/images/ubicacion/superior-56-lugares-barrio-tacuba.jpg" class="img-fluid" alt="Barrio Mágico de Tacuba" />
                    <div class="nombre">
                        Barrio Mágico de Tacuba
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>