<section class="extras">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-lg-8">
                <h1>¡Listo!</h1>

                <h2>
                    Tus datos se enviaron correctamente,
                    <span>¡Muchas gracias!</span>
                </h2>

                <p>En breve uno de nuestros asesores se pondrá en contacto contigo.<br>
                    Serás redireccionad@ a la página de inicio.</p>
            </div>
        </div>
    </div>
</section>