<section id="proyecto" class="proyecto">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-lg-7 col-xl-6 p-0 position-relative">
                <div class="back-image">
                    <img src="assets/images/superior-56-proyecto.jpg" class="img-fluid" />
                </div>
            </div>
            <div class="col-12 col-lg-5 col-xl-6 pl-1">
                <h2>Proyecto</h2>
                <p>El proyecto está conformado por dos torres con un total de 68 departamentos, en una de las colonias de mayor tradición y herencia histórica, <strong>Tacuba</strong>, en la alcaldía Miguel Hidalgo. 
                </p>
                <p> Se ubica a tan solo 10 min del Parque Bicentenario y a 15 min de Polanco,  uno de los sitios más dinámicos de la Ciudad de México por su comercio, oficinas, servicios, centros culturales y planteles educativos.</p>
            </div>
        </div>
    </div>
</section>