<section class="header d-flex justify-content-center align-items-center">
    <div class="container-fluid custom">
        <div class="row">
            <div class="col">
               <div class="content-text">
                <span>SUPERIOR 56</span>
                <H1>Tu nuevo<br> departamento<br> desde $1,580,000</H1>
                <p>MUY CERCA DE POLANCO<br> Y DEL PARQUE BICENTENARIO</p>
                <a href="#" class="btn btn-gold">VER RECORRIDO VIRTUAL <img src="assets/images/iconos/icon-recorrido-virtual.svg"></a>
               </div>
            </div>
        </div>
    </div>
    <div class="widget">
        <h2>Te asesoramos con tu crédito</h2>
        <div class="creditos">
            <img src="assets/images/superior-56-credito-fovissste.jpg" class="img-fluid" alt="">
            <img src="assets/images/superior-56-credito-infonavit.jpg" class="img-fluid" alt="">
            <img src="assets/images/superior-56-credito-bacario.jpg" class="img-fluid" alt="">
        </div>
    </div>
</section>