<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        <div class="modal-body">
            <div class="responsive-container">
                <iframe src="https://my.matterport.com/show/?m=JLzxhc99wXV" frameborder="0" allowfullscreen="" allow="vr"></iframe>
            </div>
        </div>
      </div>
    </div>
  </div>

<section class="header d-flex justify-content-center align-items-center">
    <div class="container-fluid custom">
        <div class="row">
            <div class="col">
               <div class="content-text">
                <span>SUPERIOR 56</span>
                <H1>Tu nuevo<br> departamento<br> desde $1,580,000</H1>
                <p>MUY CERCA DE POLANCO<br> Y DEL PARQUE BICENTENARIO</p>
                <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-gold">VER RECORRIDO VIRTUAL <img src="assets/images/iconos/icon-recorrido-virtual.svg"></a>
               </div>
            </div>
        </div>
    </div>
    <div class="widget">
        <h2>Te asesoramos con tu crédito</h2>
        <div class="creditos">
            <img src="assets/images/superior-56-credito-fovissste.jpg" class="img-fluid" alt="">
            <img src="assets/images/superior-56-credito-infonavit.jpg" class="img-fluid" alt="">
            <img src="assets/images/superior-56-credito-bacario.jpg" class="img-fluid" alt="">
        </div>
    </div>
</section>