<section id="prototipos" class="prototipos">
    <div class="container-fluid">
        <div class="row p-0">
            <div class="col-12 p-0 align-items-center d-flex">
                <img src="assets/images/superior-56-prototipo-planta.jpg" class="img-fluid" alt="">
                <div class="back-image ms-auto">
                    <h2>Prototipos</h2>
                    <p>Desde $1'580,000</p>
                    <p>Departamentos de 44.5 y 43.9 m2</p>

                    <ul>
                        <li><span>A1</span> 44.5m<sup>2</sup></li>
                        <li><span>A1</span> 44.5 m<sup>2</sup> con balcón de 2.5 m<sup>2</sup></li>
                        <li><span>A2</span> 43.90m<sup>2</sup></li>
                        <li><span>A2</span> 43.90 m<sup>2</sup> con balcón de 2.5 m<sup>2</sup></li>
                        <li><span>A3</span> 44.5m<sup>2</sup></li>
                        <li><span>A4</span> 44.5m<sup>2</sup></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>